<nav class="navbar">
  <p>@Html.ActionLink("Go Home", "Index", "Home", null, new {@Class="btn btn-primary"})</p>
  <p>@Html.ActionLink("See all students.", "Index", "Students", null, new {@Class="btn btn-primary"})</p> 
  <p>@Html.ActionLink("See all courses.", "Index", "Courses", null, new {@Class="btn btn-primary"})</p>
</nav>